:root{
    --fuenteHeaderPrincipal: 'Arimo', sans-serif;
    --fuenteHeaders: 'Abel', sans-serif;
    --fuenteParrafos: 'Barlow Condensed', sans-serif;
    --fuenteIdiomas: 'Source Sans Pro', sans-serif;
    --fuenteBotones: 'Lato', sans-serif;
    --gris: rgb(93, 99, 131);
    --grisClaro: rgb(207, 207, 207);
    --azul: #255779;
    --azulClaro: #328ecb;
    --azulOscuro: #1038ed;
    --celesteClaro: #4a6dbe;
}

/*GLOBALES*/
html{
    box-sizing: border-box;
    font-size: 62.5%; /*1 rem = 20px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

body{
    font-size: 16px; /* 1rem = 10px*/
}

h1, h2, h3, h4{
    margin: 0;
}

html{
    border: 30px solid black;
}

/*HEADER*/
.header_curriculum{
    margin: 0;
    background-color: rgb(58 57 57);
}

.header_curriculum h1{
    margin: 0;
    padding: 25px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--fuenteHeaderPrincipal);
}

/*INFORMACION PERSONAL*/
.contenedor_superior{
    display: flex;
    flex-direction: row;
}

.contenedor_informacion_personal{
    width: 350rem;
    text-align: center;
}

.contenedor_informacion_personal img{
    width: 230px;
    height: 230px;
    border: 5px solid black;
    border-radius: 50%;
    margin-top: 25px;
}

.contenedor_informacion_personal h2{
    margin: 15px 0 15px 0;
    font-family: var(--fuenteHeaders);
    font-size: 4.5rem;
}

.contenedor_informacion_personal h3{
    margin: 20px 0 20px 0;
    font-size: 2.5rem;
    font-family: var(--fuenteParrafos);
}

.contenedor_sobre_mi{
    color: white;
    background-color: var(--gris);
    
    -webkit-box-shadow: -6px 15px 40px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 15px 40px -6px rgba(0,0,0,0.75);
    box-shadow: -6px 15px 40px -6px rgba(0,0,0,0.75);   
}

.sobre_mi{
    text-align: center;
}

.sobre_mi h2{
    font-family: var(--fuenteHeaders);
    text-transform: uppercase;
    font-size: 4.5rem;
    margin: 2rem;
}

.sobre_mi p{
    font-family: var(--fuenteParrafos);
    font-size: 2rem;
    line-height: 43px;
    margin: 0;
    padding: 0 20px 20px 20px;
}

.idiomas{
    padding-bottom: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.idiomas h2{
    font-family: var(--fuenteHeaders);
    text-decoration: underline;
}

.idiomas p{
    font-size: 1.7rem;
    font-family: var(--fuenteIdiomas);
    margin-bottom: 5px;
}

.contenedor_circulos{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.contenedor_circulos div{
    border: 2px solid black;
    background-color: white;
    height: 16px;
    width: 16px;
    border-radius: 100%;
}

.contenedor_idiomas:last-of-type div:nth-of-type(2), .contenedor_idiomas:last-of-type div:nth-of-type(3){
    background-color: white;
}

.contenedor_circulos div:nth-of-type(1),.contenedor_circulos div:nth-of-type(2),.contenedor_circulos div:nth-of-type(3){
    background-color: var(--azulOscuro);
}

/*CONTACTO*/

.contenedor_inferior{
    display: grid;
    grid-template-columns: 35% 65%;
    
}

.contenedor_contacto{
    position: relative;
    top: 63px;
    height: 60rem;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    background-color: var(--azul);
    color: white;

    -webkit-box-shadow: 6px 15px 40px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 15px 40px -6px rgba(0,0,0,0.75);
    box-shadow: 6px 15px 40px -6px rgba(0,0,0,0.75);    
}

.contenedor_contacto div{
    display: flex;
    align-items: center;
}

.contenedor_contacto h3{
    font-family: var(--fuenteHeaders);
    font-size: 4.5rem;
}

.contenedor_h3_contacto{
    margin-top: 20px;
    justify-content: center;
}

.contenedor_iconos{
    gap: 6px;
    justify-content: center;
}

.contenedor_iconos p, a{
    font-family: var(--fuenteParrafos);
    font-size: 2rem;
    margin: 0;
}

.contenedor_iconos a{
    color: white;
}

.contenedor_iconos a:hover{
    color: var(--azulClaro);
}

/*APTITUDES Y REFERENCIAS*/

.contenedor_aptitudes_referencias h3{
    font-family: var(--fuenteHeaders);
    font-size: 4rem;
    margin-top: 15px;
    text-align: center;
}

.contenedor_aptitudes{
    text-align: center;
}

.listaAptitudes{
    margin: 5px 0 5px 0;
    font-family: var(--fuenteParrafos);
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    list-style-position: inside;
    list-style-type: disclosure-closed;
}

.referencias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2rem;
    font-family: var(--fuenteParrafos);
    font-weight: 500;
    text-align: center;
    color: white;
}

.referencias p{
    margin: 0;
}

.contenedor_referencias, .listaDisponibilidades{
    display: flex;
    flex-direction: column;
    background-color: var(--celesteClaro);
    margin: 10px;
    border-radius: 5px;
}

.contenedor_referencias{
    padding: 5px;
    line-height: 1.8;
    width: 320px;
    margin-bottom: 0;
}

.listaDisponibilidades{
    padding: 5px;
}

.listaDisponibilidades div{
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 2px;
}

/*BOTONES*/

.contenedor_experiencia{
    margin-top: 50px;
    padding: 20px 0 20px 0;
    background-color: var(--grisClaro);
}

.contenedor_experiencia li, .contenedor_experiencia p{
    font-family: var(--fuenteParrafos);
    font-size: 20px;
}

.contenedor_botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
}

.contenedor_botones span{
    height: 100%;
    text-align: end;
}

.boton_habilidades, .boton_experiencia, .boton_educacion{
    font-size: 2.5rem;
    font-family: var(--fuenteBotones);
    gap: 5px;
    background-color: #222c6a;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 95%;
    border: 3px solid #196daf;
    border-radius: 5px;
    text-align: left;
    outline: none;
}

.boton_experiencia{
    text-align: end;
}

.lista_habilidades, .lista_experiencia, .lista_educacion{
    width: 95%;
    display: flex;
    transition: max-height 0.2s ease-out;
    gap: 17px;
}

.lista_experiencia{
    text-align: end;
}